apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp
  namespace: webapp-ns
spec:
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      name: webapp
      labels:
        app: webapp
    spec:
      containers:
        - name: webapp
          image: kodekloud/webapp-color:v2
          ports:
            - containerPort: 8080
          resources:
            requests:
                memory: "256Mi"
                cpu: "500m"
            limits:
                memory: "500Mi"
                cpu: "500m"

---

apiVersion: v1
kind: Service
metadata:
  name: webapp
  namespace: webapp-ns
spec:
  selector:
    app: webapp
  ports:
    - port: 8080
      targetPort: 8080